.inputStyles {
  border: 2px solid black;
  text-align: center;
  font-size: 14px;
}

.clickerContainer {
  margin: 20vh 33%;
  min-width: 40vw;
  border: 2px solid black;
  padding: 20px 30px;
}

.currentNum {
  font-size: 14px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid grey;
  min-width: 100px;
  padding: 10px;
  border-radius: 5px;
}

.inputStep {
  border: 1px solid grey;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  margin:14px 0;
}

.btnClick {
  font-size: 18px;
  background-color: gray;
  color: white;
  border: 3px solid black;
  border-radius: 5px;
  margin-top: 30px;
  width: 150px;
  text-align: center;
  padding: 10px;

}

.numContainer {
  display: flex;
  justify-content: space-between;
}

.pNumber {
padding-top: 10px;
}


.btnContainer {
  display:flex;
  justify-content: space-around;
}

.pStep {
  margin-top:30px;
  font-size:16px;
  background-color: black;
  padding:10px;
  color:white;
  border:2px solid black;
}


.containerOperand {
  padding:30px;
  font-size:14px;
  display: flex;

}

.labelOperand {
  padding:10px;
  margin-top:5px;
}

